@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the COMP2084 Video Game Shop</h1>
    <p>This site is built in the Monday class using .NET Core and SQL Server.</p>
    <p>Product Images from <a href="https://ebgames.ca" target="_blank">EB Games</a>.  This site is for educational purposes only.</p>
</div>
